@page "/ViewPost/{id}"

@using BlazorServerSample.Services.Interfaces;
@using BlazorServerSample.Shared.Models

@inject IPostService postService;
@inject ICommentService commentService;
@inject INotifierService notifierService;

@inject NavigationManager navigationManager;

<h3>Post View</h3>

@if (Post is null)
{
    <p><em>Loading ....  !</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h4>@Post.Author</h4>
        </div>
        <div class="col-md-4">
            <h4>@Post.CreateDate</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>@Post.Body</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Back" value="Back" />
            </div>
        </div>
    </div>

    <AddCommentComponent ParentPost="Post" OnSubmitted="@RefreshComments" />
    <ViewCommentsComponent ParentPost="Post" />

}

@code {

    [Parameter]
    public string Id { get; set; }

    PostModel Post = null;

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(Id, out var id))
        {
            Post = await postService.GetPostAsync(id);
        }
    }

    protected async Task RefreshComments()
    {
        await notifierService.Update(Post.Id);
    }

    void Back()
    {
        navigationManager.NavigateTo("Posts");
    }
}
